<!-- About Section -->
    <section id="about">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Sobre</h2>
                        <h3 class="section-subheading text-muted">Nossa proposta</h3>
                    </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <blockquote>
                <h3>Ajudamos pequenas e médias empresas a se conectarem com seus clientes
                através da tecnologia, rebrand e comunicação criativa.</h3>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <ul class="media-list">
                <li class="media">
                  <a class="pull-left" href="#"><i class="fa fa-handshake-o fa-3x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">Investir em relacionamentos</h4>
                    <p>Acreditamos que é possível potencializar o seu negócio através
                      de ações que visem estreitar relações.
                    Sejam ações tecnológicas, de comunicação ou operacionais.</p>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#"><i class="fa fa-user-o fa-3x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">Pessoas no centro, sempre</h4>
                    <p>Colocar as pessoas no centro e incetivar a formação de comunidades de parceiros e clientes.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="media-list">
                <li class="media">
                  <a class="pull-left" href="#"><i class="fa fa-address-card fa-3x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">Temos os melhores</h4>
                    <p>Nossa equipe é formada por profissionais com sólida experiência de mercado.</p>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#"><i class="fa fa-comment-o fa-3x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">Gostamos de conversar!</h4>
                    <p>
                    Como bons mineiros, apreciamos uma boa prosa. Entre em contato e veja como podemos ajudar seu negócio a expandir.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
