<!-- About Section -->
    <section id="about">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Sobre</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
            </div>    
          </div>
          <div class="row">
            <div class="col-md-12">
              <blockquote>
                <h3 id="heading_p">Ajudamos pequenas e médias empresas a expandirem seus negócios através da tecnologia, comunicação criativa e definição de estratégias. </h3>
                  <h4>Nossas ações não visam somente reforçar a marca de nossos clientes ou aumentar sua presença digital mas conferir maior solidez e dinamismo. Fazer com que faturem mais e melhor, essa é nossa busca.</h4>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <ul class="media-list">
                <li class="media">
                  <a class="pull-left" href="#"><i class="fa fa-hand-peace-o fa-3x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">Investindo em relacionamentos</h4>
                    <p class="svalue">Acreditamos que cada cliente trás consigo sonhos e expectativas e que esse combustível deve ser aproveitado da melhor forma possível. Como parceiros de negócios vamos buscar juntos os melhores resultados.</p>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#"><i class="fa fa-user-o fa-3x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">Pessoas no centro sempre</h4>
                    <p>Entendemos que por trás de cada relação comercial há pessoas com valores, sentimentos e expectativas. Atuamos promovendo ações que visam criar uma comunidade de felizes colaboradores/consumidores, potencializando sua autoridade no mercado.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="media-list">
                <li class="media">
                  <a class="pull-left" href="#"><i class="fa fa-address-card fa-3x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">Temos os melhores</h4>
                    <p>Nossa equipe é formada por profissionais de várias competências e sólida experiência de mercado. Todos preocupados em vestir a camisa e em dar o melhor de sí para melhorar seus resultados.</p>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#"><i class="fa fa-comment-o fa-3x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">Gostamos de conversar!</h4>
                    <p>Como bons mineiro, apreciamos uma prosa! Entre em <a href="#cont">contato</a> conosco e veja como podemos ajudar você a expandir seu negócio e aumentar suas vendas!</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
