<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contato</h2>
                    <h3 class="section-subheading text-muted">Vamos conversar!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <form name="sentMessage" id="contactForm" method='post'>
                    <input type="hidden" name="_next" value="thanks.html" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Seu nome *" name="name" id="name" required data-validation-required-message="Por favor, digite o seu nome.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Seu e-mail *" name="email" id="email" required data-validation-required-message="Por favor, digite o seu e-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Seu telefone *" name="phone" id="phone" required data-validation-required-message="Por favor, digite o seu telefone.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Mensagem *" name="message" id="message" required data-validation-required-message="Por favor, digite uma mensagem."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Enviar</button>
                            </div>
                        </div>
                    </form>
                    <script>
                        var contactform =  document.getElementById('contactForm');
                        contactform.setAttribute('action', '//formspree.io/' + 'dnoway' + '@' + 'gmail' + '.' + 'com');
                    </script>
                </div>
            </div>
        </div>
    </section>
