  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                      {% if site.facebook_username %}
                        <li>
                          <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <i class="fa fa-facebook"></i> Facebook
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#"></a>
                        </li>
                        <li><a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
