<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossos Serviços</h2>
                    <h3 class="section-subheading text-muted">Os melhores e mais criativos serviços para otimizar o seu negócio</h3>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-3">
                  <span class="fa-stack fa-3x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Identidade visual</h4>
                  <p class="text-muted" align="center">Estudo, criação e redesign de logomarcas. Confecção de cartões, peças e outros conteúdos.</p>
              </div>
              <div class="col-md-3">
                  <span class="fa-stack fa-3x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Web</h4>
                  <p class="text-muted" align="center">Criação de sites institucionais, promocionais, blogs, sistemas e apps para Android e iOS. Nuvem, e-mail corporativo e hospedagem de sites.</p>
              </div>
              <div class="col-md-3">
                  <span class="fa-stack fa-3x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Consultoria</h4>
                  <p class="text-muted" align="center">Diagnóstico, planejamento e execução de projetos nas áreas: Melhoria de processos, TI, identidade visual, gestão de documentos e marketing.</p>
              </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce e pagamentos</h4>
                    <p class="text-muted" align="center">Soluções de E-Commerce para pequenos e médios negócios. Integrações e processamento de pagamentos. Soluções completas ou parciais.</p>
                </div>
            </div>
        </div>
    </section>
